.listWrapper {
  display: flex;
  align-items: center;

  flex-wrap: wrap;
}

.listItemWrapper {
  cursor: pointer;
  display: flex;
  padding: 20px;
  width: 48%;
  height: 200px;
  margin: 10px;
  background-color: #434641;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}
.listItemWrapper:hover {
  transform: scale(1.1);
  box-shadow: none;
}

.title {
  font-weight: bold;
  font-size: 1.1rem;
}

.textBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
}

.detailListItemWrapper {
  display: flex;
  align-items: center;
  cursor: pointer;
  width: 100%;
  border: 1px solid gray;
}
.detailTextBox {
  font-size: 1rem;
}

.thumnail {
  width: 120px;
  height: 113px;
}

.detailTitle {
  font-weight: bold;
}
