.listWrapper {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin: 0;
}

.listItemWrapper {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  border: 1px solid lightgray;
  box-shadow: 3px 3px 5px 0px rgba(191, 191, 191, 0.53);
  cursor: pointer;
  transition: transform 250ms ease-in;
}
.listItemWrapper:hover {
  transform: scale(1.02);
  box-shadow: none;
}

.title {
  font-weight: bold;
  font-size: 1.1rem;
}

.textBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
}

.detailListItemWrapper {
  display: flex;
  align-items: center;
  cursor: pointer;
  width: 100%;
  border: 1px solid gray;
}
.detailTextBox {
  font-size: 1rem;
  padding: 1rem 0.2rem;
}

.thumnail {
  width: 40%;
  height: 100%;
}

.detailTitle {
  font-weight: bold;
}
