.wrapper {
  display: flex;
  border: 1px solid black;
  align-items: center;
  background-color: black;
  width: 60%;
  padding: 12px;
}
.logoWrapper {
  display: flex;
  margin-left: 12px;
}
.youtubeLogo {
  color: red;
  /* 이거 red로 하고싶은데 가운데 > 모양은 배경색 따라가서 어케할지 모르겠다. */
  font-size: 3rem;
}
.youtubeText {
  font-size: 2rem;
  color: white;
  font-weight: bold;
  margin-left: 4px;
  margin-right: 16px;
}
.inputWrapper {
  display: flex;
  width: 90%;
  margin-left: 20px;
}
.input {
  width: 90%;
  height: 40px;
  padding-left: none;
  font-size: 1.4rem;
}

.searchBtn {
  width: 40px;
  height: 40px;
  font-size: 1.2rem;
  font-weight: bold;
  color: black;
  background-color: rgb(118, 122, 122);
}
